/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #16191d;
    margin: 0;
    padding: 0;
    color: white;
    overflow-y: auto;
}

/* Contenedor de la publicación */
.post-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Contenedor principal de la publicación */
.post-container {
    background-color: #16191d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    width: 40%;
    margin: 0 auto;
}

/* Efecto hover para el contenedor de la publicación */
.post-container:hover {
    background-color: #1e2228;
}

/* Encabezado de la publicación */
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Imagen de perfil de la publicación */
.post-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Detalles de la publicación */
.post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Nombre de usuario de la publicación */
.post-username {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Separación entre el nombre y la fecha */
.post-username span {
    margin-left: 10px;
}

/* Indicador de usuario verificado */
.post-verified {
    color: #fbbc05;
    font-size: 14px;
    margin-left: 5px;
}

/* Fecha de la publicación */
.post-date {
    color: #868e96;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0; /* Asegura que esté alineado con el nombre de usuario */
}

/* Estado de la publicación */
.post-status {
    background-color: #3a3f47;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 10px;
}

/* Encabezado del contenido de la publicación */
.post-content h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Texto del contenido de la publicación */
.post-content p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Enlaces de la publicación */
.post-link {
    color: #bc0780;
    text-decoration: none;
}

/* Efecto hover para los enlaces de la publicación */
.post-link:hover {
    text-decoration: underline;
}

/* Hashtags de la publicación */
.post-hashtags {
    color: #bc0780;
    text-decoration: none;
    cursor: default;
}

/* Efecto hover para los hashtags de la publicación */
.post-hashtags:hover {
    text-decoration: underline;
}

/* Imagen de la publicación */
.post-img {
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo de la imagen */
    height: auto;
    max-height: 500px; /* Limita la altura máxima de la imagen */
    border-radius: 10px;
    margin-top: -90px; /* Reduce el espacio superior */
    margin-bottom: -80px; /* Reduce el espacio inferior */
    transform: rotate(270deg); /* Ajusta esto según sea necesario */
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Imagen de la última publicación */
.fixed-img {
    transform: rotate(90deg); /* Rotar la imagen de vuelta a su orientación correcta */
}

/* Pie de la publicación */
.post-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Iconos del pie de la publicación */
.post-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #16191d;
    color: white;
}

.footer-icons {
    margin-bottom: 10px;
}

.footer-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-icons img {
    width: 24px;
    height: 24px;
}

.footer-text {
    font-size: 12px; /* Tamaño de fuente reducido */
    margin: 5px 0;
    color: #868e96; /* Mismo color que el resto del texto */
}

.footer-text a {
    color: #868e96; /* Color del enlace */
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .post-container {
        width: 80%; /* Ajusta el ancho del contenedor en pantallas pequeñas */
        padding: 15px;
    }

    .post-username {
        font-size: 16px;
    }

    .post-date {
        font-size: 10px;
    }

    .post-content h3 {
        font-size: 20px;
    }

    .post-content p {
        font-size: 16px; /* Aumenta un poco el tamaño de la letra en pantallas pequeñas */
    }

    .post-img {
        max-width: 250px; /* Ajusta el ancho máximo de la imagen en pantallas pequeñas */
        max-height: 400px; /* Ajusta la altura máxima de la imagen en pantallas pequeñas */
        margin-top: -70px; /* Ajuste el espacio superior en pantallas pequeñas */
        margin-bottom: -60px; /* Ajuste el espacio inferior en pantallas pequeñas */
    }

    .post-icon {
        width: 18px; /* Ajusta el tamaño del ícono en pantallas pequeñas */
        height: 18px;
    }

    .footer-text {
        font-size: 10px; /* Reduce aún más el tamaño de fuente en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .post-container {
        width: 95%; /* Ajusta el ancho del contenedor en pantallas muy pequeñas */
        padding: 10px;
    }

    .post-username {
        font-size: 14px;
    }

    .post-date {
        font-size: 8px;
    }

    .post-content h3 {
        font-size: 18px;
    }

    .post-content p {
        font-size: 14px; /* Aumenta un poco el tamaño de la letra en pantallas muy pequeñas */
    }

    .post-img {
        max-width: 200px; /* Ajusta el ancho máximo de la imagen en pantallas muy pequeñas */
        max-height: 300px; /* Ajusta la altura máxima de la imagen en pantallas muy pequeñas */
        margin-top: -50px; /* Ajuste el espacio superior en pantallas muy pequeñas */
        margin-bottom: -40px; /* Ajuste el espacio inferior en pantallas muy pequeñas */
    }

    .post-icon {
        width: 16px; /* Ajusta el tamaño del ícono en pantallas muy pequeñas */
        height: 16px;
    }

    .footer-text {
        font-size: 8px; /* Reduce aún más el tamaño de fuente en pantallas muy pequeñas */
    }
}






























































